#textdomain wesnoth-Brave_Wings
[textdomain]
    name="wesnoth-Brave_Wings"
    path="data/add-ons/Brave_Wings/translations"
[/textdomain]
[binary_path]
    path=data/add-ons/Brave_Wings/external_binary_data
[/binary_path]
[campaign]
    id=Brave_Wings
    name= _ "Brave Wings"
    abbrev= _ "BW"
    define=CAMPAIGN_BRAVE_WINGS
    extra_defines=ENABLE_ARMAGEDDON_DRAKE

    icon="units/drakes/burner-fire-inhale-3.png~RC(magenta>red)"
    image="bw-campaign-image.png"

    description= _ "On an island northwest of Wesnoth, the drakes have been living peacefully, aside from the occasional Naga skirmish. However, an unexpected guest will shake them from their time of peace and force them to fly away from their home. 

This is a Drake Campaign with 15 scenarios, including an epilogue. All of the scenarios are playable, but this is still in the early stages, so there may be bugs or balancing issues. Any feedback on the campaign would be appreciated.

Brave Wings, version:" + " 0.8.9" + _ "
Required Wesnoth version: 1.9.12 or higher (possibly playable on 1.9.5 and after)"

    first_scenario=01_Faith_Island

    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions= "&data/core/images/units/drakes/fighter-fire-se-1.png~RC(magenta>red)=" + _"Large lizard" + "=" +_"(easy)" + ";*&data/core/images/units/drakes/warrior-fire-se-1.png~RC(magenta>red)=" + _"Dinosaur" + "=" + _"(normal)" + ";&data/core/images/units/drakes/blademaster-fire-se-1.png~RC(magenta>red)=" + _"Dragon" + "=" + _"(hard)"

    ##||Credit||##

    [about]
        title= _ "Campaign Design"
        [entry]
            name="SkyOne"
        [/entry]
    [/about]
    [about]
        title= _ "Technical Adviser"
        [entry]
            name="mich"
        [/entry]
    [/about]
    [about]
        title= _ "English Corrections and Editing"
        [entry]
            name="Sneezy"
        [/entry]
    [/about]
    [about]
        title= _ "Feedback and Advice"
        [entry]
            name="Boru"
        [/entry]
    [/about]
    [about]
        title= _ "French Translation"
        [entry]
            name="Aurélien Brevers (breversa)"
        [/entry]
    [/about]
    [about]
        title= _ "Art Contributions (unit images)"
        [entry]
            name="Thunderthrow (Neilarmius)"
        [/entry]
    [/about]
    [about]
        title= _ "Art Contributions (attack icons)"
        [entry]
            name="scimitar2.png (inferno8)"
        [/entry]
        [entry]
            name="needle.png (Madnessbane)" 
        [/entry]
    [/about]
    [about]
        title= _ "Scenario Music on Thunderthrow and Legend of a Dragon (The High Kings March)"
        [entry]
            name="Mattias Westlund (West)"
        [/entry]
    [/about]
    [about]
        title= _ "Naming Contributions"
        [entry]
            name="ark halberd (Aurélien Brevers (breversa))"
        [/entry]
        [entry]
            name="Thunderthrow (Neilarmius)"
        [/entry]
        [entry]
            name="Kragash Varg and shadowbane (Simons Mith)"
        [/entry]
    [/about]
    [about]
        title= _ "Descriptive Contributions"
        [entry]
            name="unit descriptions (sur.nhm)"
        [/entry]
        [entry]
            name="main manu description (PainfulAC)"
        [/entry]
    [/about]
    [about]
        title= _ "Dialogue Contributions on Legend of a Dragon"
        [entry]
            name="(marecki)"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_BRAVE_WINGS

    [binary_path]
        path=data/add-ons/Brave_Wings
    [/binary_path]
    
    {~add-ons/Brave_Wings/utils}

    [+units]
        {~add-ons/Brave_Wings/units}
        {~add-ons/Brave_Wings/units/drakes}
        {~add-ons/Brave_Wings/bw-race.cfg}
    [/units]

    {~add-ons/Brave_Wings/scenarios}
#endif
