#textdomain wesnoth-Brave_Wings
[scenario]
    id=06_Western_Union
    name= _ "Western Union"
    next_scenario=07_Dwarvish_Bandits
    map_data="{~add-ons/Brave_Wings/maps/06_Western_Union.map}"
    {STORY_BW_II}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}

    {TURNS 28 25 22}
    {BW_INTRO_AND_SCENARIO_MUSIC "silvan_sanctuary.ogg" "knolls.ogg"}
    victory_when_enemies_defeated=yes
    # wmllint: validate-off
    [side]
        {BW_SIDE_1}
        {GOLD 260 230 200}
        {INCOME 4 2 1}
        fog=no
        shroud=no
    [/side]
    # wmllint: validate-on
    [side]
        side=2
        controller=ai
        team_name=drakes
        user_team_name=_"Humans"
        type=General
        id=Virraent
        name= _ "Commander Virraent"
        profile="portraits/humans/transparent/lieutenant.png"
        unrenamable=yes
        canrecruit=yes
        recruit=Spearman,Elvish Archer,Saurian Augur,Dwarvish Guardsman
        {GOLD 260 230 200}
        {INCOME 45 35 25}
        [ai]
            village_value=1.0
            #leader_village=50.0
           recruitment_pattern=fighter,fighter,archer,healer,fighter,archer
           #[target]
           #   side=3
           #   value=20
           #[/target]
            [goal]
                [criteria]
                    side=3
                [/criteria]
                value=20
            [/goal]
        [/ai]
        [village]
            x,y=3,17
        [/village]
        [village]
            x,y=13,18
        [/village]
        [village]
            x,y=8,21
        [/village]
    [/side]
    [side]
        side=3
        controller=ai
        team_name=orc
        {GOLD 180 200 220}
        {INCOME 25 35 40}
        type=Orcish Warlord
        recruit=Orcish Grunt, Orcish Archer
        id=Drongayga
        name= _ "Drongayga"
        user_team_name=_"Local Orcs"
        profile="portraits/orcs/transparent/warrior.png"
        canrecruit=yes
        [ai]
          recruitment_pattern=fighter,fighter,archer,fighter,fighter,archer
            village_value=1.0
            #leader_village=50.0
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes        
            aggression=1
            passive_leader=yes
        [/ai]
    [/side]
    [side]
        side=4
        controller=ai
        team_name=orc
        {GOLD 160 180 200}
        {INCOME 20 25 30}
        type=Orcish Slayer
        recruit=Wolf Rider,Orcish Assassin
        id=Gaddong
        name= _ "Gaddong"
        user_team_name=_"Orcish Scout"
        canrecruit=yes
        [ai]
          recruitment_pattern=scout,scout,mixed fighter,scout,scout,mixed fighter
            village_value=1.0
            #leader_village=50.0
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes        
            aggression=1
            passive_leader=yes
        [/ai]
        {GENERIC_UNIT 3 (Orcish Grunt) 30 14}
        {GENERIC_UNIT 3 (Orcish Archer) 28 13}
    [/side]
    [event]
        name=start
        {MODIFY_UNIT id=Wyngilla facing sw}
        {MODIFY_UNIT id=Kasii facing sw}
        {MODIFY_UNIT id=Dultas facing sw}
        {MODIFY_UNIT id=Melphine facing sw}
        [if]
            [have_unit]
                id=Anguiron
                side=1
            [/have_unit]
            [then]
                {MODIFY_UNIT id=Anguiron facing sw}
            [/then]
        [/if]
        [message]
            id=Dultas
            message= _ "Hmmm, those lads are from the Western Union, an alliance of humans and elves. And they are about to clash with those orcs on the other side o' the Bark River. Drakes! Do you mind if we help 'em?"
        [/message]
        [message]
            id=Wyngilla
            message= _ "Of course not! It would honor us to stop those invaders."
        [/message]
    [/event]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            {BW_HOW_TO_LOSE_II}
        [/objectives]
        [recall]
            id=Wyngilla
            x,y=30,21
        [/recall]
        [recall]
            id=Kasii
            x,y=30,20
        [/recall]
        [recall]
            id=Anguiron
            x,y=29,22
        [/recall]
        [recall]
            id=Dultas
            x,y=29,21
        [/recall]
        [recall]
            id=Melphine
            x,y=31,21
        [/recall]
        [unit]
            side=2
            x,y=7,17
            type=Dwarvish Guardsman
        [/unit]
        [unit]
            side=2
            x,y=9,17
            type=Elvish Archer
        [/unit]
        [unit]
            side=2
            x,y=8,16
            type=Spearman
        [/unit]
        [unit]
            side=2
            x,y=7,13
            type=Heavy Infantryman
            id=Middry
            name= _ "Middry"
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            side=2
            x,y=11,15
            type=Heavy Infantryman
            id=Owinvan
            name= _ "Owinvan"
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
#ifdef EASY
        [unit]
            side=3
            x,y=22,6
            type=Orcish Crossbowman
            id=Grorag
            name= _ "Grorag"
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_INTELLIGENT}
            [/modifications]
            ai_special=guardian
        [/unit]
#endif
#ifdef NORMAL
        [unit]
            side=3
            x,y=22,6
            type=Orcish Crossbowman
            id=Grorag
            name= _ "Grorag"
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_DEXTROUS}
            [/modifications]
            ai_special=guardian
        [/unit]
#endif
#ifdef HARD
        [unit]
            side=3
            x,y=22,6
            type=Orcish Crossbowman
            id=Grorag
            name= _ "Grorag"
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_DEXTROUS}
            [/modifications]
            ai_special=guardian
        [/unit]
#endif
        [kill]
            type=Fog Clearer
            count=2
        [/kill]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gaddong
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaaagrh ..."
        [/message]
        [kill]
            id=Gaddong
            animate=yes
        [/kill]
        [if]
            [not]
                [have_unit]
                    side=3
                    canrecruit=yes
                [/have_unit]
            [/not]
            [then]
                [message]
                    id=Virraent
                    message= _ "We appreciate your help, Dultas. Your drake companions aren't local, are they?"
                [/message]
                [message]
                    id=Dultas
                    message= _ "No, laddie, they came from Faith Island, far southwest of here. They have urgent business with my brother."
                [/message]
                [message]
                    id=Virraent
                    message= _ "Why, that's good! I need to send Sergeant Tyngel and some troops to pick up weapons from your brother. The Thunderthrow is probably ready by now, and we plan to use it to attack Limarig. Once the Eastern Union captures Grisbi, we'll be able to attack from both sides. It has taken a long time, but the capture of Limarig is near."
                [/message]
                [unit]
                    side=1
                    type=Pikeman
                    name= _ "Sergeant Tyngel"
                    x=8
                    y=16
                    id=Tyngel
                    unrenamable=yes
                    {IS_LOYAL}
                    [modifications]
                        {TRAIT_LOYAL}
                        {TRAIT_QUICK}
                    [/modifications]
                [/unit]
                {MOVE_UNIT id=Tyngel 18 6}
                #ifdef EASY
                    [unit]
                        side=1
                        x,y=19,7
                        type=Spearman
                        id=Blaedry
                        name= _ "Blaedry"
                        [modifications]
                            {TRAIT_QUICK}
                            {TRAIT_RESILIENT}
                        [/modifications]
                    [/unit]
                #endif
                [message]
                    id=Tyngel
                    message= _ "I will go with you, Dultas. Montas's laboratory is not far from here."
                [/message]
                [message]
                    speaker=narrator
                    message= _ "You can recruit Dwarvish Guardsman."
                    image=wesnoth-icon.png
                [/message]
                [endlevel]
                    result=victory
                    bonus=yes
                [/endlevel]
            [/then]
            [else]
                [modify_side]
                    side=3
                    {INCOME 40 50 60}
                [/modify_side]
            [/else]
        [/if]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Drongayga
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaaagrh ..."
        [/message]
        [kill]
            id=Drongayga
            animate=yes
        [/kill]
        [if]
            [not]
                [have_unit]
                    side=4
                    canrecruit=yes
                [/have_unit]
            [/not]
            [then]
                [message]
                    id=Virraent
                    message= _ "We appreciate your help, Dultas. Your drake companions aren't local, are they?"
                [/message]
                [message]
                    id=Dultas
                    message= _ "No, laddie, they came from Faith Island, far southwest of here. They have urgent business with my brother."
                [/message]
                [message]
                    id=Virraent
                    message= _ "Why, that's good! I need to send Sergeant Tyngel and some troops to pick up weapons from your brother. The Thunderthrow is probably ready by now, and we plan to use it to attack Limarig. Once the Eastern Union captures Grisbi, we'll be able to attack from both sides. It has taken a long time, but the capture of Limarig is near."
                [/message]
                [unit]
                    side=1
                    type=Pikeman
                    name= _ "Sergeant Tyngel"
                    x=8
                    y=16
                    id=Tyngel
                    unrenamable=yes
                    {IS_LOYAL}
                    [modifications]
                        {TRAIT_LOYAL}
                        {TRAIT_QUICK}
                    [/modifications]
                [/unit]
                {MOVE_UNIT id=Tyngel 18 6}
                #ifdef EASY
                [unit]
                    side=1
                    x,y=19,7
                    type=Spearman
                    id=Blaedry
                    name= _ "Blaedry"
                    [modifications]
                        {TRAIT_QUICK}
                        {TRAIT_RESILIENT}
                    [/modifications]
                [/unit]
                #endif
                [message]
                    id=Tyngel
                    message= _ "I will go with you, Dultas. Montas's laboratory is not far from here."
                [/message]
                [message]
                    speaker=narrator
                    message= _ "You can recruit Dwarvish Guardsman."
                    image=wesnoth-icon.png
                [/message]
                [endlevel]
                    result=victory
                    bonus=yes
                [/endlevel]
            [/then]
            [else]
                [modify_side]
                    side=4
                    {INCOME 30 40 50}
                [/modify_side]
            [/else]
        [/if]
    [/event]
    {BW_DEATHS}
    {BW_MERMAID_ADVANCEMENT}             
[/scenario]

