#textdomain wesnoth-Return_of_the_Monster
[unit_type]
    id=Monstrous Carapace
    name= _ "Monstrous Carapace"
    race=carapace
    gender=male
    image="units/carapaces/monstrous-carapace.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=monsterfoot
    movement=5
    experience=150
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=null
    cost=29
    usage=fighter
    description= _ "Monstrous Carapace."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_SLOW}
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/monstrous-carapace-defend.png" "units/carapaces/monstrous-carapace.png" {SOUND_LIST:DRAKE_HIT} }
    #[movement_anim]
    #    [frame]
    #        begin=0
    #        end=150
    #        image="units/carapaces/monstrous-carapace-moving.png"
    #    [/frame]
    #[/movement_anim]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=pincers
        description=_"pincers"
        icon=attacks/pincers.png
        type=impact
        range=melee
        damage=14
        number=2
    [/attack]
    [attack]
        name=babble
        description=_"babble"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=6
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pincers
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/carapaces/monstrous-carapace.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/carapaces/monstrous-carapace.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/carapaces/monstrous-carapace.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/carapaces/monstrous-carapace.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=babble
        [/filter_attack]
        start_time=-420

        [missile_frame]
            begin=-165
            end=0
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        {MERMAID_WATER_BLAST_HALO}
        {MERMAID_STAFF_FLARE 16 -12}

        [frame]
            duration=100
            image="units/carapaces/monstrous-carapace.png" 
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/carapaces/monstrous-carapace.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/carapaces/monstrous-carapace.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/carapaces/monstrous-carapace.png"
        [/frame]
        {SOUND:POISON}
    [/attack_anim]
[/unit_type]    
    
    
